.main_box{
  display: grid;
  border: 2px solid grey;
  grid-template-columns: 30px 300px;
  grid-template-rows: 200px 680px 100px;
  grid-template-areas:
  "hd hd hd hd hd hd hd hd"
  "sd sd main main main main main main"
  "ft ft ft ft ft ft ft ft";
}

@media (max-width: 600px){
  .main_box{
    display: grid;
    height: 100vh;
    grid-template-columns: 470px;
    grid-template-rows: 200px 600px 400px 100px;
    grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
  }
}

@media(min-width:901px){
  .main_box{
    border: 2px solid grey;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
  }
}

.box{
  border: 1px solid gray;
}

#box1{
  display: flex;
  grid-area:hd;
}

#box2{
  display: flex;
  grid-area:sd;
}

#box3{
  display: flex;
  grid-area:main;
}

#box4{
  display: flex;
  grid-area:ft;
}

#logo{
  padding-left: 20px;
}

.link{
  padding-top: 80px;
  padding-left: 100px;
}

.nav{
  padding-top: 50px;
}

.con_link{
  padding-top: 80px;
}

#facts{
  padding-top: 50px;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
  width: 100%;

}

#facts_content{
  padding-left: 30px;
  height: 400px;
  width: 100%;
  border: 2px solid green;
  border-radius: 20px;
}

#sidebar{
  height: 600px;
  width: 100%;
  margin: 20px;
  border: 2px solid green;
  border-radius: 10px;
}

.card{
  height: 350px;
  width: 100%;
  margin: 20px;
  border: 2px solid brown;
  border-radius: 5px;
}

.card1{
  height: 400px;
  width: 100%;
  margin-top: 80px;
  border: 2px solid brown;
  border-radius: 5px;
}

#side_bar_ex{
  height: 600px;
  width: 100%;
  margin: 5px;
  border: 1px solid rgb(206, 193, 16);
  border-radius: 10px;
}

#tips_ex{
  padding-left: 20px;
}

#author{
  height: 170px;
  border: 1px solid rgb(206, 193, 16);
  border-radius: 20px;
}

.author_info{
  padding-left: 10px;
}

.avatar{
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#facebook{
  border: 1px solid rgb(206, 193, 16);
  border-radius: 10px;
  height: 45px;
  width: 45px;
}

#linkedin{
  border: 1px solid rgb(206, 193, 16);
  border-radius: 10px;
  height: 45px;
  width: 45px;
}

#twitter{
  border: 1px solid rgb(206, 193, 16);
  border-radius: 10px;
  height: 45px;
  width: 45px;
}
